{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Survey{% endblock title %}

{% block content %}

<section class="section pb-11 pb-lg-12 overflow-hidden z-2">
    <div class="container z-2">
        <div class="row justify-content-center">
            <div class="col col-lg-6 mt-5">
                <div class="card border-light px-4 py-5">
                    <div class="card-header text-center">
                        <h2>Create Survey</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-end mt-5">
                                <a class="btn btn-outline-gray btn-lg mb-2 mr-2"
                                    href="{% url 'pages:home' %}">Cancel</a>
                                <button type="submit" class="btn btn-outline-success btn-lg mb-2 mr-2 ">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}