{% extends "layouts/base.html" %}

{% block title %} Services {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Hero -->
<div class="section section-xl bg-primary overflow-hidden">
    <div class="container z-2">
        <div class="row py-4 py-md-6 pb-1 justify-content-center text-white text-center">
            <div class="col-12 col-md-10">
                <h2 class="h1 font-weight-light mb-3">You have <span
                        class="font-weight-bold">{{ survey_list.all.count }}</span>
                    surveys.
                </h2>
                <a href="{% url 'survey_create' %}" class="btn btn-tertiary mr-3 animate-up-2">Create Survey
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End of Hero section -->

<section class="section section-md pt-0">
    <div class="container">
        <div class="col-12 col-lg-12">
            <div class="row justify-content-center mt-n7 z-2">
                <div class="col-12 col-md-6">
                    <div class="row mt-5 mt-lg-0 mr-md-1">
                        <!-- Icon Boxes -->
                        <div class="card border-light">
                            <div class="card-body p-5">
                                <img src="/static/assets/img/pages/design.svg" alt="Web design illustration"
                                    class="image-md mb-4">
                                <h2 class="h4 mb-2">Professional Design</h2>
                                <p>We are trying to build our work to create a design which will complete and satisfy
                                    the necessities of our client and users of the product.</p>
                                <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                            </div>
                        </div>
                        <!-- End of Icon Boxes -->
                        <!-- Icon Boxes -->
                        <div class="card border-light mt-3">
                            <div class="card-body p-5">
                                <img src="/static/assets/img/pages/technologies.svg" alt="Responsive illustration"
                                    class="image-md mb-4">
                                <h2 class="h4 mb-2">Trending Technologies</h2>
                                <p>Responsive web design is the combination of flexible grids, flexible images, and
                                    media queries. We help take the complexity out of responsive design.</p>
                                <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                            </div>
                        </div>
                        <!-- End of Icon Boxes -->
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-5">
                    <div class="row mt-3 mt-lg-0 mr-1">
                        <!-- Icon Boxes -->
                        <div class="card border-light">
                            <div class="card-body p-5">
                                <img src="/static/assets/img/pages/code.svg" alt="Code illustration"
                                    class="image-md mb-4">
                                <h2 class="h4 mb-2">Beautifuly Coded</h2>
                                <p>Amazing template! All-in-one, clean code, beautiful design, and really not hard to
                                    work with.Highly recommended for any kind on website.
                                </p>
                                <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                            </div>
                        </div>
                        <!-- End of Icon Boxes -->
                        <!-- Icon Boxes -->
                        <div class="card border-light mt-3">
                            <div class="card-body p-5">
                                <img src="/static/assets/img/pages/support.svg" alt="Support illustration"
                                    class="image-md mb-4">
                                <h2 class="h4 mb-2">Friendly Support</h2>
                                <p>We use our expertise to explain how technology decisions can affect your business and
                                    how making the right choices with your technology can propel your business your
                                    forward.</p>
                                <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                            </div>
                        </div>
                        <!-- End of Icon Boxes -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<div class="section section-md bg-soft">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <span class="d-block mb-2">
                    <span class="star fas fa-star text-warning"></span>
                    <span class="star fas fa-star text-warning"></span>
                    <span class="star fas fa-star text-warning"></span>
                    <span class="star fas fa-star text-warning"></span>
                    <span class="star far fa-star text-gray"></span>
                </span>
                <blockquote class="blockquote">
                    Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers
                    millions of people.
                    <footer class="blockquote-footer mt-3 text-primary">Neil D. Sims</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- Section -->


<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h2 class="h1 font-weight-light">You have <span
                            class="font-weight-bold">{{ survey_list.all.count }}</span>
                        surveys.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}